* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-base: #121212;
  --background-highlight: #1f1f1f;
  --background-press: #000;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #191919;
  --background-tinted-base: hsla(0, 0%, 100%, 0.1);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.14);
  --background-tinted-press: hsla(0, 0%, 100%, 0.21);
  --text-base: #fff;
  --text-subdued: #b3b3b3;
  --text-bright-accent: #1ed760;
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: #1ed760;
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

body {
  background-color: var(--background-press);
  position: absolute;
  z-index: -1;
  color: white;
  font-family: "Courier New", Courier, monospace;
  overscroll-behavior-y: none;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.main_container {
  overflow: hidden;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}
label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: capitalize;
}

input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 25rem;
  height: 3rem;
  font-size: 1rem;
  padding-left: 10px;
  border: none;
  border-color: 4px solid red;
  outline: none;
  border-radius: 10px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #53374d;
}

input::placeholder {
  padding-left: 1rem;
  color: #aaa;
}

.library {
  width: 26rem;
  box-shadow: rgba(51, 48, 48, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--background-base);
}

.playlist,
.artist {
  color: rgb(222, 218, 218);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 0.8rem;
  background-color: rgb(80, 77, 77);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 6px;
  border-radius: 220px;
  margin-right: 10px;
}

.small_card {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}
.small_card:hover {
  background-color: rgb(64, 59, 59);
}

.big_card {
  width: max-content;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.big_card:hover {
  background-color: rgb(42, 41, 41);
}

.scroll {
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  border-radius: 8px;
  background-color: var(--background-base);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
  background-color: transparent;

}

/* hover scroll */
.scroll:hover::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scroll:hover::-webkit-scrollbar-thumb {
  /* height: 2rem; */
  background-color: transparent;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 4px;
}

.horizontal_scroll {
  /* width: 50vw; */
  /* flex: 1; */
  overflow-x: auto;
}

.horizontal_scroll::-webkit-scrollbar-thumb {
  height: 0;
  background-color: transparent;
  border-radius: none;
}

.horizontal_scroll::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.226);
}

.profile_pic {
  background-image: linear-gradient(rgb(175, 3, 3), rgb(102, 2, 2));
  display: flex;
  gap: 10px;
  padding: 2rem;
}
p .profile_bottom_Container {
  padding: 2rem;
  background-image: linear-gradient(
    rgba(91, 17, 17, 0.85) 5%,
    rgb(0, 0, 0) 30%
  );
}

.artist_Bottom_container {
  padding-left: 2rem;
  background-image: linear-gradient(
    rgba(142, 88, 40, 0.85) 5%,
    rgb(0, 0, 0) 30%
  );
}

.album_container {
  display: flex;
}

.track_card {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  padding-right: 4rem;
}

.track_card > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.track_card h3 {
  width: 20px;
  color: rgb(112, 109, 109);
}
.track_card:hover {
  background-color: rgb(64, 59, 59);
}

a {
  color: #fff;
}

.check_follow:hover {
  color: #000;
}

.side_bar {
  width: 26rem;
  box-shadow: rgba(51, 48, 48, 0.24) 0px 3px 8px;
  border-radius: 8px;
  background-color: var(--background-base);
  height: 80vh;
  animation: mymove 0.8s backwards;
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 26rem;
  }
}
