* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-base: #121212;
  --background-highlight: #1f1f1f;
  --background-press: #000;
  --background-elevated-base: #1f1f1f;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #191919;
  --background-tinted-base: hsla(0, 0%, 100%, 0.1);
  --background-tinted-highlight: hsla(0, 0%, 100%, 0.14);
  --background-tinted-press: hsla(0, 0%, 100%, 0.21);
  --text-base: #fff;
  --text-subdued: #b3b3b3;
  --text-bright-accent: #1ed760;
  --text-negative: #f3727f;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #4cb3ff;
  --essential-base: #fff;
  --essential-subdued: #7c7c7c;
  --essential-bright-accent: #1ed760;
  --essential-negative: #ed2c3f;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #4cb3ff;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
}

body {
  background-color: var(--background-press);
  position: absolute;
  z-index: -1;
  color: white;
  overscroll-behavior-y: none;
  overflow: hidden;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.main_container {
  overflow: hidden;
  width: 100vw;
  /* maincontainer for app */
}

body::-webkit-scrollbar {
  display: none;
}
label {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: capitalize;
}

input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 25rem;
  height: 3rem;
  font-size: 1rem;
  padding-left: 10px;
  border: none;
  border-color: 4px solid red;
  outline: none;
  border-radius: 10px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #53374d;
}

input::placeholder {
  padding-left: 1rem;
  color: #aaa;
}

.library {
  width: 26rem;
  box-shadow: rgba(51, 48, 48, 0.24) 0px 3px 8px;
  border-radius: 8px;
  padding: 1rem;
  /* margin-top: 10px; */
  padding-top: 24px;
  background-color: var(--background-base);
  padding-left: 1.2rem;
}

.playlist,
.artist,
.create {
  color: rgb(222, 218, 218);
  font-weight: 500;
  font-size: 0.9rem;
  background-color: rgba(52, 52, 52, 0.88);
  padding: 6px 10px;
  border-radius: 220px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.create:hover {
  background-color: rgba(58, 58, 58, 0.88);
}

.playlist:hover,
.artist:hover {
  background-color: rgba(88, 88, 88, 0.88);
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background-color: rgba(35, 35, 35, 0.975);
  padding: 1px 14px;
}
/* over default mui button style */
.create_button {
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
  text-transform: none !important;
  width: 0 !important;
  height: 0 !important;
}

.plus {
  color: #777676;
  font-weight: 400;
  font-size: 1.5rem;
}

.library_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.libray_menu_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #777676;
  gap: 7px;
  font-size: 1rem;
}

.active_filter {
  background-color: #fff;
  color: var(--background-base);
}

.active_filter:hover {
  background-color: #fff;
}

.small_card {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}
.small_card:hover {
  background-color: rgb(34, 34, 34);
}

.big_card {
  width: max-content;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.big_card:hover {
  background-color: rgb(42, 41, 41);
}

.scroll {
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
  border-radius: 8px;
  background-color: var(--background-base);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  /* border-radius: 10px; */
  background-color: transparent;
}

/* hover scroll */
.scroll:hover::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.scroll:hover::-webkit-scrollbar-thumb {
  /* height: 2rem; */
  background-color: transparent;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 4px;
}

.horizontal_scroll {
  /* width: 50vw; */
  /* flex: 1; */
  overflow-x: auto;
}

.horizontal_scroll::-webkit-scrollbar-thumb {
  height: 0;
  background-color: transparent;
  border-radius: none;
}

.horizontal_scroll::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.226);
}

.profile_pic {
  background-image: linear-gradient(#c50432, #6b021b);
  display: flex;
  gap: 10px;
  padding: 2rem;
}
.profile_bottom_Container {
  padding: 2rem;
  background-image: linear-gradient(
    rgba(91, 17, 17, 0.85) 5%,
    rgb(0, 0, 0) 30%
  );
}

.artist_Bottom_container {
  padding-left: 2rem;
  background-image: linear-gradient(
    rgba(142, 88, 40, 0.85) 5%,
    rgb(0, 0, 0) 30%
  );
}

.album_container {
  display: flex;
}

.track_card {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  padding-right: 4rem;
}

.track_card > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.track_card h3 {
  width: 20px;
  color: rgb(112, 109, 109);
}
.track_card:hover {
  background-color: rgb(64, 59, 59);
}

a {
  color: #fff;
}

.check_follow:hover {
  color: #000;
}

.name {
  font-size: 0.95rem;
  color: #e0dfdf;
  font-weight: 500;
  margin-bottom: 2px;
}

.type {
  font-weight: 500;
  font-size: 0.85rem;
  color: #837f7f;
  text-transform: capitalize;
}

.dot_separator {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #837f7f;
}

.side_bar {
  width: 26rem;
  box-shadow: rgba(51, 48, 48, 0.24) 0px 3px 8px;
  border-radius: 8px;
  background-color: var(--background-base);
  height: 80vh;
  animation: mymove 0.8s forwards;
  /* animation: backgroundChange 8s backwards; */
  transition: ;
}

@keyframes mymove {
  from {
    width: 0px;
  }
  to {
    width: 26rem;
  }
}

@keyframes backgroundChange {
  from {
    opacity: 0.5;
    background-color: transparent;
  }
  to {
    background-color: var(--background-base);
  }
}
